# Configuración de la API
PORT=3000
NODE_ENV=development
API_URL=http://localhost:3000
FRONTEND_URL=http://localhost:3000

# Claves de seguridad
ADMIN_API_KEY=tu_clave_secreta_para_admin
JWT_SECRET=tu_clave_secreta_para_jwt

# Conexiones a bases de datos
TEMA_DATABASE_URL=postgres://usuario:contraseña@neon.tech:5432/tienda_skate_tema
APP_DATABASE_URL=postgres://usuario:contraseña@neon.tech:5432/tienda_skate_app

# Configuración de Shopify
SHOPIFY_SHOP_NAME=tu-tienda.myshopify.com
SHOPIFY_API_KEY=tu_api_key_de_shopify
SHOPIFY_API_PASSWORD=tu_api_password_de_shopify
SHOPIFY_API_VERSION=2023-10
SHOPIFY_WEBHOOK_SECRET=tu_webhook_secret_de_shopify
